<?xml version="1.0"?>
<configuration>

  <connectionStrings>
    <add name="ClubCollectionDB" connectionString="Data Source=localhost;Initial Catalog=ClubCollectionDB;Integrated Security=True" />
    <add name="ClubCollectionDBConnectionString" connectionString="Data Source=localhost;Initial Catalog=ClubCollectionDB;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <remove name="LocalSqlServer"/>
    <add name="LocalSqlServer" connectionString="Data Source=localhost;Initial Catalog=ClubCollectionDB;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
    
    <authentication mode="Forms">
      <forms loginUrl="Login.aspx" defaultUrl="Home.aspx" >
      </forms>
    </authentication>

    <authorization>
      <allow users="?"/>
    </authorization>

    <pages styleSheetTheme="SkinFile"></pages>
  </system.web>
</configuration>